
.form li {
padding: 14px;
list-style: none;
}


.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  position: relative;
}
.container div{
  display: inline-block;
}

.photo {
position: absolute;
top: 170px;
right: 55px;
}

#new_startup label {
color: black;
margin-right: 50px;
font-family: 'Roboto Condensed', sans-serif;
left:0px;
}

#new_startup input{
  float: right;
}

#pull_website {
  position: absolute;
  top: 111px;
  right: 105px;
}



#new_startup textarea{
  float: right;
}

#logo{
  float:right;
  width:150px;
}


