.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  position: relative;
}
.container div{
  display: inline-block;
}

.photo {
position: absolute;
top: 45px;
right: 66px;
}

#new_startup label {
color: black;
font-family: 'Roboto Condensed', sans-serif;
}

#logo{
  float:right;
  width:150px
}


